<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="assets/js/main.js"></script>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>


    <ul id="chat">

    </ul>
    <input type="text" autofocus name="message" id="message"><button id="send">Send</button>
    <ul id="list">

    </ul>
    <input id="changeUsername">
    <button id="new_send">New username</button>
    <div class="mask" role="dialog"></div>
    <div class="modal" role="alert">
        <center>
            <h1>Bienvenue</h1>
                <input type="text" id="modalUsername" name="username">
                <button id="start">Start</button>
        </center>
    </div>
    
    
</body>
</html>